.footer {
    clear: both;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
  
  }

  .footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    transition: font-weight font-size 0.15s eas;
    
  }