.video-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: center;
  @media (max-width: 600px) {
    
    overflow: hidden;
  }
}

.video-background video {
  width: 100%;
  @media (max-width: 600px) {
    width: 950px;
  }
  object-fit: cover;
}

.aside{
  position: fixed;
  bottom: 50px;
  right: 0px;
  padding: 30px;

  background-color: var(--navyblueO);
}

.aside:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: var(--navyblueO);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.aside a.linkedinlogo {
  text-decoration: none;
  color: white;
}