

.mobile-nav {
  background-color: var(--navyblue);
  width: 100%;
  margin: 0;
  color: white;
  font-size: larger;
 
  font-style: italic;

  .dropdown-menu.show {
    color: white; /* Set font color to white */
    background-color: var(--navyblue); /* Set background color to the value of the --navyblue variable */

    .dropdown-item {
      color: white;
      
    }
  }
  
  

}


.nav-link {
  color: white !important;
}

#basic-navbar-nav{
  justify-content: end; 
}

.mobile-nav-container {


  color: white;
  background-color: var(--navyblue);
}



/*
#basic-nav-dropdown{
  display: none;
  @media (max-width: 993px) {
    display: block;
  }

}
*/

// .basic-navbar-nav {

//   font-size: 30px!important;

// }

// #basic-nav-dropdown {
//   color: white!important;
//   fill: var(--navyblue)!important;
// }