.mobile-nav:has(.show){
  background-color: var(--navyblueDark);

}
.mobile-nav {
  background-color: var(--navyblue);
  transition: all 500ms ease-in-out;
  width: 100%;
  margin: 0;
  color: white;
  font-size: larger;
 
  font-style: italic;

  .dropdown-menu.show {
    color: white; /* Set font color to white */
    background-color: transparent; /* Set background color to the value of the --navyblue variable */

    

    .dropdown-item {
      color: white;
      &:hover {
        color: var(--navyblue);
        font-weight: bolder;
      }
    }
  }
  
  

}


.nav-link {
  color: white !important;
}

#basic-navbar-nav{
  justify-content: end; 
}




