header{
  .topNav{
    background: blue;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    max-height: 10%;
    width: 100%;

    ul{
      display: flex;
      font-size: 15px;
      color: white;
      font-style: italic;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      list-style-type: none;
      letter-spacing: 0.1em;
      justify-content: center;
      gap: 40px;
      align-items: center;
    }

    @media screen and (max-width:600px) {
      flex-direction: column
  }
  }

  .mainNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-height: 20%;
    width: 100%;
    // max-width: 90%;
    padding-top: 80px;
    position: fixed;
    text-align: center;
    z-index: 100;

    ul{
      font-size: 25px;
      display: flex;
      color: blue;
      list-style-type: none;
      letter-spacing: 0.1em;
      justify-content: space-evenly;
      gap: 40px;
      align-items: center;
    }
    
    @media screen and (max-width:600px) {
        
        flex-direction: column
    }
  }
  // ul{
  //   display: flex;
  //   list-style-type: none !important;
  // }
}






/*
.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  font-family: "Trebuchet MS", sans-serif, Arial;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #07294d;
  padding-right: 20px;
  z-index: 60;
}

.header nav {
  display: flex; 
  justify-content: space-evenly;
  padding-top: 10px;
  font-family: 'Gill Sans', sans-serif, Calibri;
  font-size: 20px;
  width: 100%;
  height: auto;
}

.header h1 {
  display: inline-block;
  font-size: 50px;
}

.header ul{
  gap: 80px;
  width: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: auto;
  z-index: 70;
}
.portallink ul{
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

.gmail {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-style: italic;
  transition: font-weight 0.2s ease-in-out;
}
*/